/* src\pages\Home\index.jsx */

/* Estilos específicos para a página Home */
.home-page h1 {
  color: #3b82f6; /* Azul */
}

.home-page p {
  font-size: 1.2em;
  line-height: 1.6;
}

.home-page .welcome-message {
  margin-top: 20px;
  font-weight: bold;
}

/* Adicione mais estilos conforme necessário */